<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ClouDNSConfiguration" type="ClouDNSIPUpdater.Library.Config.ClouDNSConfigSection, ClouDNSIPUpdater.Library"/>
  </configSections>

  <ClouDNSConfiguration>
    <add Name="Test" DynamicUrl="test" />
  </ClouDNSConfiguration>
</configuration>